@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-neutral: oklch(96.14% 0.0013 286.38);
  --color-neutral-dark: oklch(15.48% 0.0021 286.15);
  --color-neutral-50: oklch(96.14% 0.001 286.38);
  --color-neutral-100: oklch(91.97% 0.004 286.32);
  --color-neutral-200: oklch(84.02% 0.006 286.28);
  --color-neutral-300: oklch(75.62% 0.010 286.16);
  --color-neutral-400: oklch(67.24% 0.012 286.08);
  --color-neutral-500: oklch(58.32% 0.017 285.87);
  --color-neutral-600: oklch(49.89% 0.013 285.93);
  --color-neutral-700: oklch(40.80% 0.012 285.87);
  --color-neutral-800: oklch(31.47% 0.007 285.99);
  --color-neutral-900: oklch(21.03% 0.006 285.89);
  --color-neutral-950: oklch(15.48% 0.002 286.15);

  --color-base: oklch(88.66% 0.0522 282.9);
  --color-base-dark: oklch(15.13% 0.0768 269.43);
  --color-base-50: oklch(93.65% 0.028 283.66);
  --color-base-100: oklch(87.50% 0.058 281.91);
  --color-base-200: oklch(74.85% 0.120 280.98);
  --color-base-300: oklch(62.73% 0.185 277.24);
  --color-base-400: oklch(51.83% 0.246 271.70);
  --color-base-500: oklch(44.50% 0.286 265.50);
  --color-base-600: oklch(37.91% 0.241 265.72);
  --color-base-700: oklch(31.03% 0.192 266.31);
  --color-base-800: oklch(23.71% 0.140 267.51);
  --color-base-900: oklch(16.09% 0.083 268.45);
  --color-base-950: oklch(11.69% 0.051 271.52);
  
  --color-primary: oklch(73.71% 0.148 291.62);
  --color-primary-50: oklch(93.44% 0.035 296.28);
  --color-primary-100: oklch(87.00% 0.071 293.87);
  --color-primary-200: oklch(74.16% 0.145 291.46);
  --color-primary-300: oklch(62.16% 0.217 287.67);
  --color-primary-400: oklch(52.24% 0.274 280.40);
  --color-primary-500: oklch(46.64% 0.304 270.67);
  --color-primary-600: oklch(39.55% 0.256 271.33);
  --color-primary-700: oklch(32.13% 0.206 272.44);
  --color-primary-800: oklch(24.21% 0.153 274.09);
  --color-primary-900: oklch(15.71% 0.095 280.06);
  --color-primary-950: oklch(11.08% 0.064 287.00);
  
  --color-secondary: oklch(73.01% 0.1816 353.74);
  --color-secondary-50: oklch(94.74% 0.030 348.19);
  --color-secondary-100: oklch(89.73% 0.062 348.55);
  --color-secondary-200: oklch(80.30% 0.126 350.73);
  --color-secondary-300: oklch(72.19% 0.189 353.64);
  --color-secondary-400: oklch(66.33% 0.236 357.83);
  --color-secondary-500: oklch(63.32% 0.253 4.47);
  --color-secondary-600: oklch(53.59% 0.214 3.61);
  --color-secondary-700: oklch(43.37% 0.173 2.76);
  --color-secondary-800: oklch(32.52% 0.128 1.18);
  --color-secondary-900: oklch(20.80% 0.082 357.47);
  --color-secondary-950: oklch(14.38% 0.054 352.32);
  
  --color-accent: oklch(79.75% 0.1141 233.93);
  --color-accent-50: oklch(96.36% 0.020 229.03);
  --color-accent-100: oklch(92.83% 0.041 230.98);
  --color-accent-200: oklch(86.03% 0.079 231.67);
  --color-accent-300: oklch(79.49% 0.115 234.50);
  --color-accent-400: oklch(73.85% 0.145 237.69);
  --color-accent-500: oklch(69.06% 0.166 243.07);
  --color-accent-600: oklch(58.55% 0.139 242.67);
  --color-accent-700: oklch(47.54% 0.111 242.03);
  --color-accent-800: oklch(36.13% 0.081 239.70);
  --color-accent-900: oklch(23.46% 0.049 236.31);
  --color-accent-950: oklch(16.32% 0.031 232.75);
  
  --color-error: oklch(93.21% 0.1486 100.51);
  --color-error-50: oklch(98.73% 0.030 100.86);
  --color-error-100: oklch(97.36% 0.057 99.87);
  --color-error-200: oklch(95.02% 0.110 100.35);
  --color-error-300: oklch(93.16% 0.153 100.80);
  --color-error-400: oklch(91.40% 0.179 99.87);
  --color-error-500: oklch(89.87% 0.186 97.86);
  --color-error-600: oklch(76.08% 0.157 98.14);
  --color-error-700: oklch(61.62% 0.128 98.58);
  --color-error-800: oklch(46.02% 0.095 98.48);
  --color-error-900: oklch(29.18% 0.061 99.88);
  --color-error-950: oklch(19.88% 0.041 100.69);

  --color-success: oklch(79.48% 0.1302 162.45);
  --color-success-50: oklch(97.21% 0.018 166.39);
  --color-success-100: oklch(94.42% 0.037 168.37);
  --color-success-200: oklch(88.91% 0.071 166.27);
  --color-success-300: oklch(83.89% 0.104 164.77);
  --color-success-400: oklch(79.05% 0.133 162.35);
  --color-success-500: oklch(74.93% 0.156 159.57);
  --color-success-600: oklch(63.44% 0.130 159.68);
  --color-success-700: oklch(51.69% 0.104 160.18);
  --color-success-800: oklch(38.92% 0.076 160.60);
  --color-success-900: oklch(25.34% 0.044 162.56);
  --color-success-950: oklch(17.49% 0.025 166.65);
}
@custom-variant dark (&:where(.dark, .dark *));

html, body {
  @apply h-full w-full bg-neutral text-neutral-dark dark:bg-neutral-dark dark:text-neutral;
}

