/* @unocss-include */

html,
body {
  @apply h-full w-full font-inter text-neutral-dark bg-neutral;
}

@layer default {
  :root {
    --neutral-default: 96.14% 0.0013 286.38;
    --neutral-dark: 15.48% 0.0021 286.15;
    --neutral-50: 96.14%, 0.001, 286.38;
    --neutral-100: 91.97%, 0.004, 286.32;
    --neutral-200: 84.02%, 0.006, 286.28;
    --neutral-300: 75.62%, 0.010, 286.16;
    --neutral-400: 67.24%, 0.012, 286.08;
    --neutral-500: 58.32%, 0.017, 285.87;
    --neutral-600: 49.89%, 0.013, 285.93;
    --neutral-700: 40.80%, 0.012, 285.87;
    --neutral-800: 31.47%, 0.007, 285.99;
    --neutral-900: 21.03%, 0.006, 285.89;
    --neutral-950: 15.48%, 0.002, 286.15;

    --tertiary-default: 88.66% 0.0522 282.9;
    --tertiary-dark: 15.13% 0.0768 269.43;
    --tertiary-50: 96.14%, 0.001, 286.38;
    --tertiary-100: 91.97%, 0.004, 286.32;
    --tertiary-200: 84.02%, 0.006, 286.28;
    --tertiary-300: 75.62%, 0.010, 286.16;
    --tertiary-400: 67.24%, 0.012, 286.08;
    --tertiary-500: 58.32%, 0.017, 285.87;
    --tertiary-600: 49.89%, 0.013, 285.93;
    --tertiary-700: 40.80%, 0.012, 285.87;
    --tertiary-800: 31.47%, 0.007, 285.99;
    --tertiary-900: 21.03%, 0.006, 285.89;
    --tertiary-950: 15.48%, 0.002, 286.15;
    
    --primary-default: 73.71% 0.148 291.62;
    --primary-50: 93.44%, 0.035, 296.28;
    --primary-100: 87.00%, 0.071, 293.87;
    --primary-200: 74.16%, 0.145, 291.46;
    --primary-300: 62.16%, 0.217, 287.67;
    --primary-400: 52.24%, 0.274, 280.40;
    --primary-500: 46.64%, 0.304, 270.67;
    --primary-600: 39.55%, 0.256, 271.33;
    --primary-700: 32.13%, 0.206, 272.44;
    --primary-800: 24.21%, 0.153, 274.09;
    --primary-900: 15.71%, 0.095, 280.06;
    --primary-950: 11.08%, 0.064, 287.00;
    
    --secondary-default: 73.01% 0.1816 353.74;
    --secondary-50: 94.74%, 0.030, 348.19;
    --secondary-100: 89.73%, 0.062, 348.55;
    --secondary-200: 80.30%, 0.126, 350.73;
    --secondary-300: 72.19%, 0.189, 353.64;
    --secondary-400: 66.33%, 0.236, 357.83;
    --secondary-500: 63.32%, 0.253, 4.47;
    --secondary-600: 53.59%, 0.214, 3.61;
    --secondary-700: 43.37%, 0.173, 2.76;
    --secondary-800: 32.52%, 0.128, 1.18;
    --secondary-900: 20.80%, 0.082, 357.47;
    --secondary-950: 14.38%, 0.054, 352.32;
    
    --accent-default: 79.75% 0.1141 233.93;
    --accent-50: 96.36%, 0.020, 229.03;
    --accent-100: 92.83%, 0.041, 230.98;
    --accent-200: 86.03%, 0.079, 231.67;
    --accent-300: 79.49%, 0.115, 234.50;
    --accent-400: 73.85%, 0.145, 237.69;
    --accent-500: 69.06%, 0.166, 243.07;
    --accent-600: 58.55%, 0.139, 242.67;
    --accent-700: 47.54%, 0.111, 242.03;
    --accent-800: 36.13%, 0.081, 239.70;
    --accent-900: 23.46%, 0.049, 236.31;
    --accent-950: 16.32%, 0.031, 232.75;
    
    --error-default: 93.21% 0.1486 100.51;
    --error-50: 96.36%, 0.020, 229.03;
    --error-100: 92.83%, 0.041, 230.98;
    --error-200: 86.03%, 0.079, 231.67;
    --error-300: 79.49%, 0.115, 234.50;
    --error-400: 73.85%, 0.145, 237.69;
    --error-500: 69.06%, 0.166, 243.07;
    --error-600: 58.55%, 0.139, 242.67;
    --error-700: 47.54%, 0.111, 242.03;
    --error-800: 36.13%, 0.081, 239.70;
    --error-900: 23.46%, 0.049, 236.31;
    --error-950: 16.32%, 0.031, 232.75;

    --success-default: 79.48% 0.1302 162.45;
    --success-50: 97.21%, 0.018, 166.39;
    --success-100: 94.42%, 0.037, 168.37;
    --success-200: 88.91%, 0.071, 166.27;
    --success-300: 83.89%, 0.104, 164.77;
    --success-400: 79.05%, 0.133, 162.35;
    --success-500: 74.93%, 0.156, 159.57;
    --success-600: 63.44%, 0.130, 159.68;
    --success-700: 51.69%, 0.104, 160.18;
    --success-800: 38.92%, 0.076, 160.60;
    --success-900: 25.34%, 0.044, 162.56;
    --success-950: 17.49%, 0.025, 166.65;
  }

  .dark {
    --neutral-default: 15.48% 0.0021 286.15;
    --neutral-dark: 96.14% 0.0013 286.38;
    --neutral-50: 15.48%, 0.002, 286.15;
    --neutral-100: 21.03%, 0.006, 285.89;
    --neutral-200: 31.47%, 0.007, 285.99;
    --neutral-300: 40.80%, 0.012, 285.87;
    --neutral-400: 49.89%, 0.013, 285.93;
    --neutral-500: 58.32%, 0.017, 285.87;
    --neutral-600: 67.24%, 0.012, 286.08;
    --neutral-700: 75.62%, 0.010, 286.16;
    --neutral-800: 84.02%, 0.006, 286.28;
    --neutral-900: 91.97%, 0.004, 286.32;
    --neutral-950: 96.14%, 0.001, 286.38;

    --tertiary-default: 15.13% 0.0768 269.43;
    --tertiary-dark: 88.66% 0.0522 282.9;
    --tertiary-50: 15.48%, 0.002, 286.15;
    --tertiary-100: 21.03%, 0.006, 285.89;
    --tertiary-200: 31.47%, 0.007, 285.99;
    --tertiary-300: 40.80%, 0.012, 285.87;
    --tertiary-400: 49.89%, 0.013, 285.93;
    --tertiary-500: 58.32%, 0.017, 285.87;
    --tertiary-600: 67.24%, 0.012, 286.08;
    --tertiary-700: 75.62%, 0.010, 286.16;
    --tertiary-800: 84.02%, 0.006, 286.28;
    --tertiary-900: 91.97%, 0.004, 286.32;
    --tertiary-950: 96.14%, 0.001, 286.38;
    
    --primary-50: 11.08%, 0.064, 287.00;
    --primary-100: 15.71%, 0.095, 280.06;
    --primary-200: 24.21%, 0.153, 274.09;
    --primary-300: 32.13%, 0.206, 272.44;
    --primary-400: 39.55%, 0.256, 271.33;
    --primary-500: 46.64%, 0.304, 270.67;
    --primary-600: 52.24%, 0.274, 280.40;
    --primary-700: 62.16%, 0.217, 287.67;
    --primary-800: 74.16%, 0.145, 291.46;
    --primary-900: 87.00%, 0.071, 293.87;
    --primary-950: 93.44%, 0.035, 296.28;
    
    --secondary-50: 14.38%, 0.054, 352.32;
    --secondary-100: 20.80%, 0.082, 357.47;
    --secondary-200: 32.52%, 0.128, 1.18;
    --secondary-300: 43.37%, 0.173, 2.76;
    --secondary-400: 53.59%, 0.214, 3.61;
    --secondary-500: 63.32%, 0.253, 4.47;
    --secondary-600: 66.33%, 0.236, 357.83;
    --secondary-700: 72.19%, 0.189, 353.64;
    --secondary-800: 80.30%, 0.126, 350.73;
    --secondary-900: 89.73%, 0.062, 348.55;
    --secondary-950: 94.74%, 0.030, 348.19;

    --accent-50: 16.32%, 0.031, 232.75;
    --accent-100: 23.46%, 0.049, 236.31;
    --accent-200: 36.13%, 0.081, 239.70;
    --accent-300: 47.54%, 0.111, 242.03;
    --accent-400: 58.55%, 0.139, 242.67;
    --accent-500: 69.06%, 0.166, 243.07;
    --accent-600: 73.85%, 0.145, 237.69;
    --accent-700: 79.49%, 0.115, 234.50;
    --accent-800: 86.03%, 0.079, 231.67;
    --accent-900: 92.83%, 0.041, 230.98;
    --accent-950: 96.36%, 0.020, 229.03;
    
    --error-50: 19.88%, 0.041, 100.69;
    --error-100: 29.18%, 0.061, 99.88;
    --error-200: 46.02%, 0.095, 98.48;
    --error-300: 61.62%, 0.128, 98.58;
    --error-400: 76.08%, 0.157, 98.14;
    --error-500: 89.87%, 0.186, 97.86;
    --error-600: 91.40%, 0.179, 99.87;
    --error-700: 93.16%, 0.153, 100.80;
    --error-800: 95.02%, 0.110, 100.35;
    --error-900: 97.36%, 0.057, 99.87;
    --error-950: 98.73%, 0.030, 100.86;

    --success-50: 17.49%, 0.025, 166.65;
    --success-100: 25.34%, 0.044, 162.56;
    --success-200: 38.92%, 0.076, 160.60;
    --success-300: 51.69%, 0.104, 160.18;
    --success-400: 63.44%, 0.130, 159.68;
    --success-500: 74.93%, 0.156, 159.57;
    --success-600: 79.05%, 0.133, 162.35;
    --success-700: 83.89%, 0.104, 164.77;
    --success-800: 88.91%, 0.071, 166.27;
    --success-900: 94.42%, 0.037, 168.37;
    --success-950: 97.21%, 0.018, 166.39;
  }
}
